# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
web/.next/
web/out/
web/build

# expo / react native
mobile/.expo/
mobile/dist/
mobile/android/
mobile/ios/

# env files
.env*

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
web/next-env.d.ts

# prisma
web/lib/generated/prisma
